@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');  
header a:link, a:visited, a:active {
    color: #000000;
    text-decoration: none;
}

header a:hover{
    text-decoration: underline;
}

a:link, a:visited, a:hover, a:active {
    color: #000000;
    text-decoration: underline;
}


body {
    max-width: 40em;
    margin: 0 auto;
    padding: 5px;
    font-family: 'JetBrains Mono', monospace;
    font-style: normal;
    font-variant-ligatures: none;
    font-size: 20px;
    line-height: 30px;
    background-color: #F2F0EF;
}